<div class="background-grey" id="edit-view">
  <div class="container">
    <div class="row margin-none">
      <div class="col s12 m10 l8 offset-l2 offset-m1 center-align">
        <%= render 'form' %>
        <!-- Partial _form.html.erb -->
        <% if @user == current_user %>
        <button class="waves-effect btn-flat text-red"><%= link_to('Eliminar deseo', user_wish_path(@user, @wish),
      method: :delete, data: { confirm: '¿Seguro que quieres eliminar' }) %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
