<div class="background-grey" id="edit-view">
  <div class="container">
    <div class="row margin-none">
      <div class="col s12 m10 l8 offset-l2 offset-m1 center-align">
        <%= render 'form' %>
        <!-- Partial _form.html.erb -->

      </div>
    </div>
  </div>
</div>
