<h1> !Bienvenido <%= @user.name %>!</h1>

  <p>¡Eres miembro de WishrBox!</p>
  <p>Haz tus deseos realidad. Guarda en WishrBox todo lo que desees, regalos, ropa,
     experiencias, etc, y compártelos con quienes creas que pueden hacerlos realidad.</p>
  <p>También podrás conocer los deseos de tus amigos y ser quien los haga realidad para ellos.</p>
  <p>WishrBox, es tu caja de los deseos</p>
