  <h1>Users</h1>
  <h2>Los deseos de <%= current_user.name %></h2>

    <ul>
    <% current_user.each do |user| %>
    <li>
      <%= "Usuario: " + user.name + ": " + " | email: " + user.email %>
        <%= link_to 'Ver perfil', profile_path(@user) %>
    </li>
    <% end %>
  </ul>
