<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users index</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% @users.each do |user| %>
    <li><%= "Name: " + user.name + ": " + " | Mail: " + user.email + " | Birthday: " + user.birthday.strftime("%d/%m/%Y") %></li>
    <% end %>
  </ul>
</body>
</html>
