  <h1>Amigo encontrado</h1>
  <ul>
    <% @user %>
    <li>
      <%= image_tag @user.avatar.url(:thumb) %>
      <%= "Usuario: " + @user.name + ": " + " | email: " + @user.email %>
        <%= link_to "Ver los deseos de #{@user.name}", user_wishes_path(@user) %>
    </li>
  </ul>
