  <h1>Users</h1>
  <ul>
    <% @users.each do |user| %>
    <li>
      <%= "Usuario: " + user.name + ": " + " | email: " + user.email %>
        <a href ="/users/<%= user.id %>">Ver perfil</a>
    </li>
    <% end %>
  </ul>
