  <h1>Amigo encontrado</h1>
  <hr>
  <ul>
    <% @user %>
    <li>
      <%= image_tag @user.avatar.url(:thumb) %>
      <%= "Usuario: " + @user.name + " | email: " + @user.email %><br><br>
        <%= link_to "Ver los deseos de #{@user.name}", user_wishes_path(@user) %>
    </li>
  </ul>
