@import "../settings";

html {
  font-size: $font-base;
  height: 100%;
}

body {
  height: 100%;
}

li {
  list-style-type: none;
}

nav .brand-logo {
  font-size: 2rem;
  padding-left: 8px;
}

.side-nav-head {
  background-color: #3f51b5;
  height: 170px;
  padding: 32px 16px 32px 12px;
  line-height: 14px;
}


.input-field {
  #search {
    display: -webkit-inline-box;
  }
}
.wish-row {
  overflow:scroll;
  display:flex;
}

.wish-card {
  width:200px;
  display:inline;
  float: left;
  border-radius: 2.5px;
  &:hover{
    opacity:$opacity-hover;
  }

  .wish-img {
    height: 190px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      border-radius: 2.5px;
      height: auto;
      max-width: 100%;

    }
  }

  a {
    color: rgba(0, 0, 0, 0.87);
  }
}

// .wish-grid {
//   margin-top: 20px;
//   display: grid;
//   align-content: flex-end;
//   position: relative;
//   height: 300px;
// }
//
// .wish-card-user {
//   margin: 0px;
//   width:165px;
//   display:inline;
//   float: left;
//   border-radius: 2.5px;
//   &:hover{
//     opacity:$opacity-hover;
//   }
//
//   .wish-img-user {
//     height: 200px;
//     width: 165px;
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//     align-items: flex-end;
//     a img  {
//       border-radius: 2.5px;
//       height: auto;
//       width: 165px;
//
//     }
//   }
//
//   a {
//     color: rgba(0, 0, 0, 0.87);
//   }
// }
.wish-detail {
  padding-top:16px;

  button a {
    color: white;
  }

}
.user-wish-img {
  height: 340px;
  width: 340px;
  margin: 0 auto;
  // box-shadow: 1px 1px 2px 1px #ccc;

  img {
  margin: 0 auto;
  border-radius: 2.5px;
  height: auto;
  width:auto;
  max-width: 100%;  }
  position: relative;
}

.user-wish-favorite {
  position: absolute;
  top: 0px;
  right: 0px;
}

.user-wish-locked {
  position: absolute;
  top: 40px;
  right: 0px;
}

.user-wish-link > a {
  color: #3f51b5;
}

.material-icons.md-36{
    font-size: 36px;
  }
.user-wish-description {
  margin: 0 auto;
  width: 70%;
  min-width: 350px;
  text-align: justify;
  white-space: normal;
  h3{
    line-height: 140%;
  }
}
.user-wish-price {
  margin: 0 auto;
  width: 70%;
  min-width: 350px;
  text-align: left;
  white-space: normal;
  color: rgba(0, 0, 0, 0.54);
  }



.flex-vertical-center {
  display: flex;
  align-items: center;
}

.home-self-feed-head, .home-friends-feed-head {

  display: flex;
  justify-content: space-between;

  .self-avatar, .friends-avatar {
    height: $header-height;
    padding: 8px;

    .h5 {
      padding: 8px;
    }

  }

  .see-all, .show-profile {
    height: $header-height;
    a {
      color: rgba(0,0,0,0.54);
    }
  }
}

.btn-floating.btn-large {
  position: fixed;
  bottom: 16px;
  right: 16px;
  }

.content {
  padding:$sm-measure;
}
