// Colors
$primary-color: #53d1ff !default;
$secondary-color: #3f51b5 !default;
$card-background-color: #e2e2e2;


// Measures
$xs-measure: 1em;
$sm-measure: 1.5em;
$md-measure: 2em;
$lg-measure: 4rem;


$header-height: $lg-measure;

//Text-sizes
$font-base: 14px;
$font-p: 1em;
$font-h1: 3.2em;
$font-h2: 2.6em;
$font-h3: 2em;
$font-h4: 1.4em;
$font-h5: 1.2em;
$font-h6: 0.8em;
$font-small: 0.9rem;

$opacity-hover: .8;
